* {
  box-sizing: border-box;
}
html {
  text-align: center;
  background-color: rgb(83, 141, 26);
}
h1 {
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  font-family: fantasy;
}
.higherButton,
.lowerButtons,
.againButtons {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button :active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.game {
  display: flex;
}

.usercard {
  margin: auto;
  padding: 72px;
}
.guesscard {
  margin: auto;
  padding: 61px;
}
